{
    "extends": ["airbnb"],
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "rules": {
        "react/jsx-filename-extension": ["error", { "extensions": [".js"] }],
        "no-console": ["off"]
    }
}